{% extends 'base.html.twig' %}

{% block title %}Hello SectorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table>
        <thead>
        
            <tr>

                <td>Id</td>
                <td>Nombre</td>
                <td>Editar</td>
                <td>Eliminar</td>

            </tr>
        
        </thead>

        <tbody>
    {% for sector in sectores %}
        <tr>
            <td>{{sector.id}}</td>
            <td>{{sector.nombre}}</td>
            <td><a href="/sector/{{sector.id}}"><button>Editar</button></a></td>
            <td><a href="/sector/delete/{{sector.id}}" onclick="return confirm('¿Desea Eliminar La Empresa?')"><button class="delete">Eliminar</button></a></td>
        </tr>
    {% else %}
        No existen Registros.
    {% endfor %}
    <a href="/sector/add"><button>Nueva Sector</button></a>

</div>
{% endblock %}